{% load static %}

<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ product.title }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>

<header class="navbar">
    <div class="container nav-content">

        <a href="{% url 'home' %}" class="logo">
            🛒 Shop
        </a>

        <a href="{% url 'home' %}" class="back-link">
            ← Barcha mahsulotlar
        </a>

    </div>
</header>


<main class="container detail-container">

    <div class="detail-card">

        <div class="detail-image">

            {% if product.image %}
                <img src="{{ product.image.url }}"
                     alt="{{ product.title }}">
            {% else %}
                <img src="https://demofree.sirv.com/nope-not-here.jpg"
                     alt="Rasm mavjud emas">
            {% endif %}

        </div>


        <div class="detail-content">

            <span class="detail-category">
                {{ product.category }}
            </span>

            <h1>
                {{ product.title }}
            </h1>


            <div class="detail-price">

                <span>Narxi:</span>

                <strong>
                    {{ product.price }} Arzon
                </strong>

                {% if product.price >= 20 %}
                    <span class="price-status expensive">
                        Qimmat
                    </span>
                {% else %}
                    <span class="price-status cheap">
                        Arzon
                    </span>
                {% endif %}

            </div>


            <div class="detail-description">

                <h3>Mahsulot haqida</h3>

                <p>
                    {{ product.introduction }}
                </p>

            </div>
        <div class="'product-image">
    <form method="post" action="{% url 'save_comment' product.pk %}">
        {% csrf_token %}
        <textarea name="text" style="font-size: 22pt; padding: 15px; border-radius: 15px;" rows="4" cols="40" id=""></textarea>
        <button type="submit" style="font-size: 22pt; padding: 15px; border-radius: 15px;">Send</button>
    </form>



        </div>  

            <a href="{% url 'home' %}" class="back-button">
                ← Ortga qaytish
            </a>
            <h3 style="margin-top: 30px ;">Qoldirilgan izohlar</h3>

            {% for comment in comment %}
            <div class="introduction">
                <p>{{ comment.text}}</p>
                <p style="font-size: 10pt;">
                    <b>Author: </b> <a href="">{{ comment.user.username}}</a>. 
                    <span style="font-size: 8pt;">{{comment.created}}</span>
                </p>

            </div>
            {% endfor %}  

        </div>

    </div>

</main>


<footer>
    <div class="container">
        <p>© 2026 Shop. Barcha huquqlar himoyalangan.</p>
    </div>
</footer>

</body>
</html>